/*genéral*/
 body {
        background-color: #F7E6CA;
        color: #561D0B;
        font-family: 'della respira', sans-serif;
    }


/*header*/

    .navbar {
        background-color: #E7A564;
        color: #561D0B;
    }
 
 /* Cookies */
 /* Couleurs personnalisées */
 .modal-header {
     background-color: #C66D25;
 }

 .modal-header h5 {
     color: white;
 }

 .text-cookie {
     color: #561D0B;
 }

 .modal-content {
     border: 2px solid #E7A564;
 }


/* Boutons */
  .btn-tres-clair {
     background-color: #F7E6CA;
     outline-color: #F7E6CA;
     color: #561D0B;
 }

 .btn-clair {
     background-color: #E7A564;
        outline-color: #E7A564;
        color: #561D0B;
 }

 .btn-moyen {
     background-color: #C66D25;
        outline-color: #C66D25;
        color: #F7E6CA;
 }

 .btn-fonce {
     background-color: #561D0B;
        outline-color: #561D0B;
        color: #F7E6CA;
 }

/*champs et formulaires*/
 input, textarea, select {
     background-color: #F7E6CA;
     color: #561D0B;
     border: 2px solid #E7A564;
     border-radius: 1em;
     
 }

 input:focus, textarea:focus, select:focus {
     background-color: #F7E6CA;
     color: #561D0B;
     border: 2px solid #C66D25;
     outline: #561D0B;
 }

/* Admin */
.box-info {
    color: rgb(0, 0, 0);
    background-color: #E7A564;
    font-size: 30px;
    padding-left: 3rem ;
    word-wrap: break-word"
}

/* hyperliens */
.hyperliens{
    color: #561D0B;
}
.hyperliens:hover{
    color: #F7E6CA;
}



/*largeur page cgs rgdb*/
.width{
    max-width: 80%;
    margin : auto;
}

.footer-custom{
    background-color: #E7A564;
    color: #561D0B;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0px;
}

/*article*/

article.article-template {
    background-color: #F3D9B6;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

article h2{
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
}

article p{
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.meta {
    font-size: 14px;
    color: #E7A564;
    margin: 10px;
}

.meta p {
    margin-right: 30px;
}

.chapo-photo {
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.separateur {
    background-color: #C66D25;
    color: #F7E6CA;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;            /* Required for alignment properties to work */
    justify-content: center;  /* Centers content horizontally */
    align-items: center;      /* Centers content vertically */
}

.separateur img {
    width: auto;
    height: 50px;
}

.separateur p {
    margin: 0;
    font-size: 18px;
}

.comments-section {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #E7A564;
}

.comments-section h3 {
    padding-bottom: 30px;
}

.comments-section a {
    margin: 20px;
}

.comments {
    width: fit-content; /* Add this line */
    background-color: #E7A564;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}