/*genéral*/
 body {
        background-color: #F7E6CA;
        color: #561D0B;
        font-family: 'della respira', sans-serif;
    }


/*header*/

    .navbar {
        background-color: #E7A564;
        color: #561D0B;
    }
 
 /* Cookies */
 /* Couleurs personnalisées */
 .modal-header {
     background-color: #C66D25;
 }

 .modal-header h5 {
     color: white;
 }

 .text-cookie {
     color: #561D0B;
 }

 .modal-content {
     border: 2px solid #E7A564;
 }


/* Boutons */
  .btn-tres-clair {
     background-color: #F7E6CA;
     outline-color: #F7E6CA;
     color: #561D0B;
 }

 .btn-clair {
     background-color: #E7A564;
        outline-color: #E7A564;
        color: #561D0B;
 }

 .btn-moyen {
     background-color: #C66D25;
        outline-color: #C66D25;
        color: #F7E6CA;
 }

 .btn-fonce {
     background-color: #561D0B;
        outline-color: #561D0B;
        color: #F7E6CA;
 }

/*champs et formulaires*/
 input, textarea, select {
     background-color: #F7E6CA;
     color: #561D0B;
     border: 2px solid #E7A564;
     border-radius: 1em;
     
 }

 input:focus, textarea:focus, select:focus {
     background-color: #F7E6CA;
     color: #561D0B;
     border: 2px solid #C66D25;
     outline: #561D0B;
 }

/* Admin */
.box-info {
    color: rgb(0, 0, 0);
    background-color: #E7A564;
    font-size: 30px;
    padding-left: 3rem ;
    word-wrap: break-word"
}

/* hyperliens */
.hyperliens{
    color: #561D0B;
}
.hyperliens:hover{
    color: #F7E6CA;
}



/*largeur page cgs rgdb*/
.width{
    max-width: 80%;
    margin : auto;
}

.footer-custom{
    background-color: #E7A564;
    color: #561D0B;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0px;
}

/*article*/

article.article-template {
    background-color: #F3D9B6;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}